:root{
    --primario_form: #eef120;
    --secundario_form: #22499e;
    --gris: #757575;
    --blanco: #fff
}


main{
    margin-bottom: 3rem;
}

/********|||||contacto|||||********/

.contacto {
  margin: 3rem 0 3rem 0;
}

.conta {
    font-size: 2.8rem;
    margin-bottom: 4rem;
  }


  .nosotros  {
    width: 95%;
  }

  .nosotros p{
    padding-left: 2rem;
  }

.formulario_sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 1rem 10rem 1rem;
}

.formulario{
    background-color: var(--gris);
    width: min(60rem, 100% );  /*utiliza el valor más pequeño*/
    margin: 0 auto;           /*centrar contacto*/
    padding: 2rem;
    display: inline-block;
    border-radius: 10px;

  }
  
  .formulario fieldset{
    border: none;
  }
  .formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase; /*para que sea mayusculas*/
    font-weight: 700;
    margin-bottom: 2rem;
    color: #14213d;

  }

 

  .boton {
    background-color: #14213d;
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase; /*texto en mayusculas*/
    font-weight: 700;          /*GRUESO DE LAS LETRAS*/
    width: 50%;
    text-align: center;
    border: none;
  }

  .boton:disabled {
    background-color: #757575;
    border: 1px solid black;
    cursor: not-allowed;
  }

  .boton:hover:enabled{
    background-color: var(--secundario_form);
  }

  .boton:active{
    transform: scale(0.96);
  }

   @media (min-width : 768px){ 
    .contenedor-campos{
      display: grid;
      grid-template-columns: 50% 50%; 
      grid-template-rows: auto;
      column-gap: 1rem;
    }
  }
  .campo:nth-child(3), 
  .campo:nth-child(4){
    grid-column: 1  / 3;
  } 
   
  .campo{
  margin-bottom:1rem ;
  }
  
.campo input {
  border-radius: 0px;
}

  .campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block; /*texto abajo cuadro*/
  }
  .campo textarea{
    height: 20rem;
    border-radius: 0px;
  }
  /*.campo input[type="text"]*/
  .imput-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
  }

  /*********Utilidades BOTON ENVIAR***************/
.w-sm-100{
    width: 100%;
  }

  .flex{
    display: flex;
  }
  
  .alinear-derecha{
    justify-content:flex-end;
  }

  .error { 
    outline: 2px solid rgb(172, 85, 85);
  
    
}

.right { 
  outline: 2px solid rgb(90, 214, 90);
  
}